<div class="djnbmgr">

<div class="djnbmgr-left djnbmgr-main">
  <div>
    <h3>Notebooks</h3>
    <p>
      <span class="djnbmgr-notebook-new">New Notebook</span>
    </p>
    <p>
      <input type="text" class="djnbmgr-search" value=""
       placeholder="Search notebooks" />
    </p>
    <div class="djnbmgr-notebooks"></div>
  </div>
</div>

<div class="djnbmgr-left djnbmgr-menu">
  <div>
    <h3>Recently Archived</h3>
    <div class="djnbmgr-archived"></div>
    <h3>Recently Trashed</h3>
    <div class="djnbmgr-trashed"></div>
  </div>
</div>

<div class="djnbmgr-clear"></div>
</div>

