<ul class="djnbmgr-notebook-list">
  {{#each notebooks.objects}}
  <li data-notebook-id="{{this.id}}">
    <span class="djnbmgr-notebook-name djnbmgr-notebook-link">{{this.name}}</span>
    <span class="djnbmgr-notebook-info">{{this.updated_on}}</span>
  </li>
  {{/each}}
</ul>

