<div class="djnbmgr-notebook-history">
  <h3>Archived versions of "{{name}}"</h3>
  <p class="djnbmgr-close djnbmgr-button">Close</p>
  <table class="djnbmgr-notebook-list">
    {{#each notebooks.objects}}
    <tr data-notebook-id="{{this.id}}">
      <td class="djnbmgr-notebook-name djnbmgr-notebook-link">{{ this.name }}</td>
      <td class="djnbmgr-notebook-date">{{this.updated_on}}</td>
    </tr>
    {{/each}}
  </table>
</div>

